#ignore bin directory
bin/

#ignore obj directory
obj/

#ignore code blocks files
*.cbp

#ignore layout files
*.layout

#ignore depend files
*.depend

#ignore pretty much anything that starts with osProject
osProject.*
